@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --scrollbar-radius: 5px;
}

/* Basic editor styles */
.ProseMirror {
  > * + * {
    /* margin-top: 0.75em; */
  }
}

.editor-content-style {
  position: absolute;
  width: 100%;
  overflow: hidden;
  /* padding: 5px; */
  padding-left: 5px;
  padding-bottom: 0px;
  max-height: 30px;
  overflow-y: scroll;
  max-height: inherit;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}


.editor-content {
    position: relative;
    flex-direction: column;

    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    
    padding-top:5px;

    border: solid 1px rgba(0,0,0,0.4);

    border-radius: 5px;

    min-height: 70px;
    max-height: 400px;

    background-color: rgba(247, 247, 247, 0.5);
    color:#000;
    /* z-index: 1; */
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: var(--scrollbar-radius);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9b9b9; 
  border-radius: var(--scrollbar-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.editor-content ul {
  padding-left: 28px;
  margin-top: 4px;
}

*:focus {
  outline: black;
}
.footer-editor {
  /* background-color: rgb(247, 247, 247); */
  position: sticky;
  text-align: right;
  bottom: 0;
  right: 0;
  z-index: 1000;
  top: 100%;
}

.footer-editor button {
  font-size: 13px;
}