.chat {
    max-height: 430px;
    min-height: 430px;
    overflow-y: scroll;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat-content {
    background-color: rgb(255, 167, 3);
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    transition: 2s;
    display: flex;
    flex-direction: column;
}

.chat-content:hover {
    background-color: rgb(255, 179, 37);
    cursor: pointer;
    transition: 0.5s;
}


.title-content {
    font-size:13px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
}

.title-content > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title-content button:hover {
  cursor: pointer;
}

p {
    margin:0;
}
  
ul {
    margin: 2px;
    margin-left:0;
    padding-left:30px;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: var(--scrollbar-radius);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9b9b9; 
  border-radius: var(--scrollbar-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}