@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 99vh;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
    background-color: transparent;
}


.content-app {
    flex: 1;
}

.content-editor {
    flex: 1;
}


